body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}

.book-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 800px;
}

.book-cover img {
    max-width: 200px;
    margin-right: 20px;
}

.book-info {
    flex-grow: 1;
}

.book-info h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.book-info p {
    color: #555;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.about-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 800px;
}

.about-container h2 {
    margin-top: 0;
    color: #333;
}
